footer {
  background-color: var(--gray-100);
  color: var(--gray-500);
  padding: 2rem 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  flex-shrink: 0; /* Prevent header/footer from shrinking */
}

.footer-content {
  margin: 0 auto;
  padding: 0 2rem;
}

footer p {
  margin: 0;
  font-size: 0.7rem;
}

.social-media {
  margin-top: 1rem;
}

.social-media a {
  color: var(--gray-500);
  margin: 0 1rem;
  font-size: 1.25rem;
  transition: color 0.3s;
}

@media (max-width: 48rem) {
  .footer-content {
    text-align: center;
  }

  .social-media a {
    font-size: 1.125rem;
  }
}
