header {
  background-color: var(--gray-100);
  font-family: "open-sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
}

nav .logo-icon img {
  width: 15rem;
  color: white;
  transition: transform 0.3s ease;
}

nav .profile-icon img {
  width: 35px;
  color: white;
  transition: transform 0.3s ease;
}

nav .logo-icon img:hover,
nav .profile-icon img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .logo-icon {
    flex: 1;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-links ul {
    display: flex;
    margin: 0;
  }

  .nav-links li {
    margin: 0 15px;
  }

  .nav-links a {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: black;
    border-radius: 0;
  }

  .nav-links a:hover {
    background-color: #f0f0f0;
  }

  .profile-icon {
    margin-left: 20px;
  }

  .profile-icon img {
    width: 40px;
  }
}
