:root {
    --gray-100: #e3e5e7;
    --gray-200: #c1c3c5;
    --gray-300: #a0a3a5;
    --gray-400: #7d7f81;
    --gray-500: #4b4e54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

/* .login-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
} */

.login-title {
    text-align: center;
    color: var(--gray-500);
    font-size: 24px;
    margin-bottom: 20px;
}

.login-input-container {
    margin-bottom: 20px;
}

.login-label {
    font-size: 14px;
    color: var(--gray-400);
    margin-bottom: 5px;
    display: block;
}

.login-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid var(--gray-200);
    border-radius: 6px;
    font-size: 16px;
    color: var(--gray-500);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-input:focus {
    border-color: var(--gray-300);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    outline: none;
}

.login-button-container {
    margin-top: 20px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: var(--gray-500);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: var(--gray-400);
    transform: translateY(-2px);
}

.login-button:active {
    transform: translateY(0);
}

.error-message {
    color: var(--gray-400);
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffefef;
    border: 1px solid #ffcccc;
    border-radius: 6px;
    display: none;
}

.success-message {
    color: var(--gray-400);
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    background-color: #c9fb9cc1;
    border: 1px solid #baff7d;
    border-radius: 6px;
    display: none;
}
