:root {
    --gray-100: #e3e5e7;
    --gray-200: #c1c3c5;
    --gray-300: #a0a3a5;
    --gray-400: #7d7f81;
    --gray-500: #4b4e54;
    --primary-color: #4b4e54;
    --background-color: #e3e5e7;
    --button-hover: #7d7f81;
    --button-color: #c1c3c5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    text-align: center;
}

.apigen-title {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.apigen-brief {
    color: var(--gray-500);
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.api-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.key-container {
    display: flex;
    align-items: center;
    position: relative;
}

.api-input {
    width: 100%;
    padding: 12px 80px 12px 12px;
    margin: 10px 0;
    border: 1px solid var(--gray-200);
    border-radius: 6px;
    font-size: 16px;
    color: var(--gray-500);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#copyBtn,
#toggleView {
    position: absolute;
    font-size: 18px;
    color: var(--gray-500);
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

#copyBtn {
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

#toggleView {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#copyBtn:hover,
#toggleView:hover {
    color: var(--primary-color);
}

.getkey-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--gray-500);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.getkey-btn:hover {
    background-color: var(--gray-400);
    transform: translateY(-2px);
}

.getkey-btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px #4b4e54;
}

/* Add this new CSS for the "copied" state */
.copied {
    color: #28a745; /* Green color for checkmark */
    font-size: 20px;
}
