/* Color Variables */
:root {
  --gray-100: #e3e5e7;
  --gray-200: #c1c3c5;
  --gray-300: #a0a3c5;
  --gray-400: #7d7f81;
  --gray-500: #4b4e54;
}

/* Global Styles */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Footer Styles */
footer {
  background-color: var(--gray-100);
  color: var(--gray-500);
  padding: 2rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  margin: 0 auto;
  padding: 0 2rem;
}

footer p {
  margin: 0;
  font-size: 0.7rem;
}

.social-media {
  margin-top: 1rem;
}

.social-media a {
  color: var(--gray-500);
  margin: 0 1rem;
  font-size: 1.25rem;
  transition: color 0.3s;
}

/* Menu Styles */
.menu {
  margin-left: 40rem;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.menu ul li {
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  color: var(--gray-500);
  font-size: 1.2rem;
  font-weight: 400;
  padding: 8px 12px;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 4px;
}

.menu ul li a:hover {
  background-color: #374151;
  color: #ffffff;
}

/* Header Styles */
header {
  background-color: var(--gray-100);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  gap: 10px;
  flex-wrap: wrap;
}

nav .logo-icon img {
  width: clamp(8rem, 30vw, 15rem);
  transition: transform 0.3s ease;
}

nav .profile-icon img {
  width: clamp(30px, 5vw, 35px);
  transition: transform 0.3s ease;
}

nav .logo-icon img:hover,
nav .profile-icon img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* QR Code Scanner Styles */
.qr-container {
  max-width: 500px;
  margin: 5rem auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.qr-header {
  font-size: 24px;
  color: var(--gray-500);
  text-align: center;
  margin-bottom: 20px;
}

.qr-reader {
  display: flex;
  justify-content: center;
  border: 2px dashed var(--gray-500);
  padding: 20px;
  border-radius: 10px;
}

.qr-results {
  margin-top: 20px;
  padding: 10px;
  background: var(--gray-100);
  color: #2d6623;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.qr-product-data {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}

.qr-product-data span {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

/* Assign Soldier Section */
#assigningDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: none;
}

.qrBTNS {
  display: flex;
  justify-content: space-between;
  display: none;
}

label {
  display: block;
  font-size: 14px;
  align-self: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--gray-200);
  border-radius: 5px;
}

button#assignsoldier {
  padding: 10px 20px;
  background-color: var(--gray-400);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  align-self: center;
  transition: 0.2s ease-in;
}

button#assignsoldier:hover {
  background-color: var(--gray-500);
}

#errorAssign {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  display: none; /* Hidden by default */
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 480px) {
  nav {
    justify-content: center;
    text-align: center;
  }

  .menu {
    order: 3;
    margin: auto;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu ul li {
    width: 100%;
    text-align: center;
  }
}
